openapi: '3.0.2'

info:
  title: 'Community Connect Web API'
  version: '1.0'
  description: 'Web Resources Specification (A7) for Community Connect'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23114/-/wikis/eap

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Profile'
 - name: 'M03: Questions'
 - name: 'M04: Answers'
 - name: 'M05: Administration'

paths:

# M01: Authentication

# Login

  /login:

    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show login UI.'
        
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      
      responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to foruns page.'
                 value: '/foruns'
               302Error:
                 description: 'Failed authentication. Redirect to login page.'
                 value: '/login'

# Logout

  /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current user. Access: USR, OWN, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to foruns page.'
                 value: '/foruns'

# Register

  /register:

    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show registration UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - username
                - email
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the register credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to foruns page.'
                  value: '/foruns'
                302Failure:
                  description: 'Failed registration. Redirect to register page.'
                  value: '/register'

# M02: Profile

# View Profile

  /user/{id}:

    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show an user profile. Access: USR, OWN, ADM'
      tags:
        - 'M02: Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True

      responses:
        '200':
          description: 'OK. Show profile page.'
        '302':
          description: 'Redirect because user is not authenticated or id does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failure viewing profile. Redirect to foruns page.'
                  value: '/foruns'

# Admin

# View Admin Page

  /admin:

      get:
        operationId: R501
        summary: 'R501: View admin page'
        description: 'Show admin page UI. Access: ADM'
        tags:
          - 'M05: Administration'

        responses:
          '200':
            description: 'OK. Show the admin page UI.'
          '403':
            description: 'This action is unauthorized.'

# View User Pages e Edit User Account

  /admin/user/{id}:

      get:
        operationId: R502
        summary: 'R502: View user profile'
        description: 'Show an user profile. Access: ADM'
        tags:
          - 'M02: Administration'

        parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: True

        responses:
          '200':
            description: 'OK. Show User page.'
          '302':
            description: 'Redirect because id does not exist.'
            headers:
              Location:
                schema:
                  type: string
                example:
                  302Failure:
                    description: 'Failure viewing profile. Redirect to Admin page.'
                    value: '/admin'

      post:
        operationId: R503
        summary: 'R503: Edit Account Action'
        description: 'Processes the registration form submission. Access: ADM'
        tags:
          - 'M01: Administration'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  password:
                    type: string
                    format: password
                  confirm_password:
                    type: string
                    format: password
                  profile_photo:
                    type: string
                    format: binary
                required:
                  - username
                  - email
                  - password
                  - confirm_password

        responses:
          '302':
            description: "Redirect after processing the edition on the user's profile."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful edition. Redirect to profile page.'
                    value: '/user/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to profile page.'
                    value: '/user/{id}'

# Create Account 

  /admin/user/:
    post:
        operationId: R504
        summary: 'R504: Create Account Action'
        description: 'Processes the creation of a new account. Access: ADM'
        tags:
          - 'M01: Administration'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  password:
                    type: string
                    format: password
                  confirm_password:
                    type: string
                    format: password
                  profile_photo:
                    type: string
                    format: binary
                required:
                  - username
                  - email
                  - password
                  - confirm_password

        responses:
          '302':
            description: "Redirect after processing the creation of a new user profile."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful creation. Redirect to profile page.'
                    value: '/user/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to profile page.'
                    value: '/user/{id}'
