openapi: '3.0.2'

info:
  title: 'Community Connect Web API'
  version: '1.0'
  description: 'Web Resources Specification (A7) for Community Connect'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23114/-/wikis/eap

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Profile'
 - name: 'M03: Questions'
 - name: 'M04: Answers'
 - name: 'M05: Administration'

paths:

# M01: Authentication

# Login

  /login:

    get:
      operationId: R101
      summary: 'R101: Login form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show login UI.'
        
    post:
      operationId: R102
      summary: 'R102: Login action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      
      responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to foruns page.'
                 value: '/foruns'
               302Error:
                 description: 'Failed authentication. Redirect to login page.'
                 value: '/login'

# Logout

  /logout:

   post:
     operationId: R103
     summary: 'R103: Logout action'
     description: 'Logout the current user. Access: USR, OWN, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to foruns page.'
                 value: '/foruns'

# Register

  /register:

    get:
      operationId: R104
      summary: 'R104: Register form'
      description: 'Provide registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show registration UI'

    post:
      operationId: R105
      summary: 'R105: Register action'
      description: 'Processes the registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - username
                - email
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the register credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to foruns page.'
                  value: '/foruns'
                302Failure:
                  description: 'Failed registration. Redirect to register page.'
                  value: '/register'

# M02: Profile

# View/Edit Profile

  /user/{id}:

    get:
      operationId: R201
      summary: 'R201: User profile page'
      description: "Shows an user's profile page. Access: USR, OWN, ADM"
      tags:
        - 'M02: Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True

      responses:
        '200':
          description: 'Ok. Show profile page.'
        '302':
          description: 'Redirect because user is not authenticated or id does not exist.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failure viewing profile. Redirect to foruns page.'
                  value: '/foruns'
  
    post:
      operationId: R202
      summary: "R202: Edit user's profile action"
      description: "Processes editions on an user's profile. Access: OWN"
      tags:
        - 'M02: Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
                profile_photo:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password
                - confirm_password


      responses:
        '302':
          description: "Redirect after processing the edition on the user's profile."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edition. Redirect to profile page.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed edition. Redirect to profile page.'
                  value: '/user/{id}'

# M03: Questions

# Search and Post Questions

  /api/question:

    get:
      operationId: R301
      summary: 'R301: Search questions'
      description: 'Searches for questions and returns the results as JSON. Access: PUB, USR, OWN, ADM'
      tags:
        - 'M03: Questions'
      
      parameters:
        - in: query
          name: text
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: after
          description: Start date of the search interval
          schema:
            type: string
          required: false
        - in: query
          name: before
          description: End date of the search interval
          schema:
            type: string
          required: false

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    content:
                      type: string
                    date:
                      type: string
                    file:
                      type: string
                    last_edited:
                      type: string
                    title:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        username:
                          type: string
                        image:
                          type: string
                example:
                  - id: 1
                    content: 'I need to cook rice but I do not have water. How can I do it?'
                    date: '2023-11-06'
                    file: ''
                    last_edited:
                    title: 'How can I cook rice without water?'
                    user:
                      id: 1
                      username: 'matildesimoes'
                      image: ''

    post:
      operationId: R302
      summary: 'R302: Post question action'
      description: 'Processes question form submission. Access: USR, OWN, ADM'
      tags:
        - 'M03: Questions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                  format: string
                file:
                  type: string
                  format: binary
                title:
                  type: string
                  format: string
                id_user:
                  type: integer
                  format: integer
              required:
                - content
                - title
                - id_user
      
      responses:
       '302':
         description: 'Redirect after processing the question submission.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful question submission. Redirect to question page.'
                 value: '/question/{id}'
               302Error:
                 description: 'Failed question submission. Redirect to question page.'
                 value: '/question'  

# View Question

  /question/{id}:

    get:
      operationId: R303
      summary: 'R303: View question'
      description: 'Shows a question. Access: PUB, USR, OWN, ADM'
      tags:
        - 'M03: Questions'
      
      parameters:
        - in: query
          name: id
          description: Question id
          schema:
            type: string
          required: false

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    content:
                      type: string
                    date:
                      type: string
                    file:
                      type: string
                    last_edited:
                      type: string
                    title:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        username:
                          type: string
                        image:
                          type: string
                example:
                  - id: 1
                    content: 'I need to cook rice but I do not have water. How can I do it?'
                    date: '2023-11-06'
                    file: ''
                    last_edited:
                    title: 'How can I cook rice without water?'
                    user:
                      id: 1
                      username: 'matildesimoes'
                      image: ''
                    
# Delete Question

  /question/{id}/delete:
    post:
      operationId: R304
      summary: 'R304: Delete question action'
      description: 'Processes question deletion. Access: OWN, ADM'
      tags:
        - 'M03: Questions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: integer
              required:
                - id

      responses:
       '302':
         description: 'Redirect after processing the question deletion.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful question deletion. Redirect to questions page.'
                 value: '/questions'
               302Error:
                 description: 'Failed question deletion. Redirect to question page.'
                 value: '/question/{id}'  

# Edit Question

  /question/{id}/edit/:
    post:
        operationId: R305
        summary: "R305: Edit question action"
        description: "Processes editions on a question. Access: OWN"
        tags:
          - 'M03: Questions'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: integer
                required:
                  - id


        responses:
          '302':
            description: "Redirect after processing the edition on the question."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful edition. Redirect to question page.'
                    value: '/question/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to question page.'
                    value: '/question/{id}'

# M04: Answers

# Search and Post Answers

  /Answer:

    get:
      operationId: R401
      summary: 'R401: Search answers'
      description: 'Searches for answers and returns the results as JSON. Access: PUB, USR, OWN, ADM'
      tags:
        - 'M03: Answers'
      
      parameters:
        - in: query
          name: text
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: after
          description: Start date of the search interval
          schema:
            type: string
          required: false
        - in: query
          name: before
          description: End date of the search interval
          schema:
            type: string
          required: false

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    content:
                      type: string
                    date:
                      type: string
                    file:
                      type: string
                    last_edited:
                      type: string
                    title:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        username:
                          type: string
                        image:
                          type: string
                example:
                  - id: 1
                    content: 'I need to cook rice but I do not have water. How can I do it?'
                    date: '2023-11-06'
                    file: ''
                    last_edited:
                    title: 'How can I cook rice without water?'
                    user:
                      id: 1
                      username: 'matildesimoes'
                      image: ''

    post:
      operationId: R402
      summary: 'R402: Post answers action'
      description: 'Processes answers form submission. Access: USR, OWN, ADM'
      tags:
        - 'M04: Answers'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                  format: string
                file:
                  type: string
                  format: binary
                title:
                  type: string
                  format: string
                id_user:
                  type: integer
                  format: integer
              required:
                - content
                - title
                - id_user
      
      responses:
       '302':
         description: 'Redirect after processing the answer submission.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful answer submission. Redirect to answer page.'
                 value: '/answer/{id}'
               302Error:
                 description: 'Failed answer submission. Redirect to answer page.'
                 value: '/answer'  

# View Answers

  /api/answer/{id}:

    get:
      operationId: R403
      summary: 'R403: View answer'
      description: 'Shows a answer. Access: PUB, USR, OWN, ADM'
      tags:
        - 'M04: Answers'
      
      parameters:
        - in: query
          name: id
          description: Answer id
          schema:
            type: string
          required: false

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    content:
                      type: string
                    date:
                      type: string
                    file:
                      type: string
                    last_edited:
                      type: string
                    title:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        username:
                          type: string
                        image:
                          type: string
                example:
                  - id: 1
                    content: 'I need to cook rice but I do not have water. How can I do it?'
                    date: '2023-11-06'
                    file: ''
                    last_edited:
                    title: 'How can I cook rice without water?'
                    user:
                      id: 1
                      username: 'matildesimoes'
                      image: ''
                    
# Delete Question

  /api/answer/delete:
    post:
      operationId: R404
      summary: 'R404: Delete answer action'
      description: 'Processes answer deletion. Access: OWN, ADM'
      tags:
        - 'M04: Answers'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: integer
              required:
                - id

      responses:
       '302':
         description: 'Redirect after processing the answer deletion.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful answer deletion. Redirect to answer page.'
                 value: '/answer'
               302Error:
                 description: 'Failed answer deletion. Redirect to answer page.'
                 value: '/answer/{id}'  

# Edit Answer

  /api/answer/edit/:
    post:
        operationId: R405
        summary: "R405: Edit answer action"
        description: "Processes editions on a answer. Access: OWN"
        tags:
          - 'M04: Answer'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: integer
                required:
                  - id


        responses:
          '302':
            description: "Redirect after processing the edition on the answer."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful edition. Redirect to answer page.'
                    value: '/answer/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to answer page.'
                    value: '/answer/{id}'

# Admin

# View Admin Page

  /admin:

      get:
        operationId: R501
        summary: 'R501: View admin page'
        description: 'Show admin page UI. Access: ADM'
        tags:
          - 'M05: Administration'

        responses:
          '200':
            description: 'OK. Show the admin page UI.'
          '403':
            description: 'This action is unauthorized.'

# View User Pages e Edit User Account

  /admin/user/{id}:

      get:
        operationId: R502
        summary: 'R502: View user profile'
        description: 'Show an user profile. Access: ADM'
        tags:
          - 'M02: Administration'

        parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: True

        responses:
          '200':
            description: 'OK. Show User page.'
          '302':
            description: 'Redirect because id does not exist.'
            headers:
              Location:
                schema:
                  type: string
                example:
                  302Failure:
                    description: 'Failure viewing profile. Redirect to Admin page.'
                    value: '/admin'

      post:
        operationId: R503
        summary: 'R503: Edit Account Action'
        description: 'Processes the registration form submission. Access: ADM'
        tags:
          - 'M01: Administration'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  password:
                    type: string
                    format: password
                  confirm_password:
                    type: string
                    format: password
                  profile_photo:
                    type: string
                    format: binary
                required:
                  - username
                  - email
                  - password
                  - confirm_password

        responses:
          '302':
            description: "Redirect after processing the edition on the user's profile."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful edition. Redirect to profile page.'
                    value: '/user/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to profile page.'
                    value: '/user/{id}'

# Create Account 

  /admin/user/:
    get:
      operationId: R504
      summary: 'R504: Search users'
      description: 'Searches for users and returns the results as JSON. Access: ADM'
      tags:
        - 'M03: Administration'
      
      parameters:
        - in: query
          name: username
          description: User's username
          schema:
            type: string
          required: false
        - in: query
          name: email
          description: User's email
          schema:
            type: string
          required: false
        - in: query
          name: register_date
          description: User's register date
          schema:
            type: string
          required: false

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    email:
                      type: string
                    register_date:
                      type: string
                    image:
                      type: string
                example:
                  - id: 1
                    username: 'matildesimoes'
                    email: 'matildesimoes@gmail.com'
                    register_date: '2023-02-01'
                    image: ''

    post:
        operationId: R505
        summary: 'R505: Create Account Action'
        description: 'Processes the creation of a new account. Access: ADM'
        tags:
          - 'M01: Administration'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  password:
                    type: string
                    format: password
                  confirm_password:
                    type: string
                    format: password
                  profile_photo:
                    type: string
                    format: binary
                required:
                  - username
                  - email
                  - password
                  - confirm_password

        responses:
          '302':
            description: "Redirect after processing the creation of a new user profile."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful creation. Redirect to profile page.'
                    value: '/user/{id}'
                  302Failure:
                    description: 'Failed edition. Redirect to profile page.'
                    value: '/user/{id}'
