openapi: '3.0.2'

info:
  title: 'Community Connect Web API'
  version: '1.0'
  description: 'Web Resources Specification (A7) for Community Connect'

servers:
  - url: https://lbaw23114.lbaw.fe.up.pt
    description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23114/-/wikis/eap

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Profile'
 - name: 'M03: Questions'
 - name: 'M04: Answers'
 - name: 'M05: Administration'

paths:
  

# M05: Administration

  /admin/block:

    post: 
      tags:
        - 'M05: Administration'
      summary: 'Block a user'
      description: 'Block a user'
      operationId: 'blockUser'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'User ID'
                  example: 1
              required:
                - user_id
      responses:
        '200':
          description: 'User blocked'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 'Success'
                    example: true
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: 'Error message'
                    example: 'User not found'

  /admin/unblock:

    post:
      tags:
        - 'M05: Administration'
      summary: 'Unblock a user'
      description: 'Unblock a user'
      operationId: 'unblockUser'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'User ID'
                  example: 1
              required:
                - user_id
      responses:
        '200':
          description: 'User unblocked'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 'Success'
                    example: true
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: 'Error message'
                    example: 'User not found'

  /tags/delete:


  /tags: