#about-us-page {
  background-color: #fff;
}

#about-us {
  margin-left: 4rem;
  margin-right: 4rem;
}

#about-us-title {
  margin-top: 2rem;
  text-align: center;
}

#about-us p {
  margin-top: 30px;
  font-size: 18px;
  text-align: justify;
}

#about-us #made-by-list {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 18px;
  list-style: circle;
}

#about-us #made-by-list li {
  margin-top: 10px;
}

#about-us #made-by-list li a {
  color: var(--blue);
  font-size: 18px;
}

#last-info{
  padding-bottom: 2rem;
}