#admin {
    background-color: white;
}

input[type=text],
input[type=password],
select {
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.admin-button {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.submit:disabled {
    background-color: #777;
    opacity: 0.3;
    transition: 0.2s;
}

.tag-error {
    color: red;
    font-size: 12px;
    display: none;
}

summary {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 80%;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-gray);
}

summary:hover {
    background-color: var(--blue);
}

summary::-webkit-details-marker {
    display: none;
}

.form-admin {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 80%;
    padding: 10px;
    background-color: var(--light-gray);
}

#admin {
    background-color: white;
    margin: 0;
    margin: 50px auto;
    width: 89%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form span{
    margin-bottom: 5px;
}

.form-admin label{
    margin-top: 8px;
}