:root {
  --dark-blue: #272930;
  --blue: #38b6ff;
  --light-gray: #f0f0f0;
  --hover-red: #f05555;
}

/* General rules */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--light-gray);
  display:grid;
  grid-template-rows: [body-initial] 4% [body-medium1] auto [body-medium2] 1% [body-end];
  grid-template-columns: [body-col-initial] 20% [body-col-medium1] auto [body-col-medium2] 20% [body-col-end];
}

.website-header {
  grid-column: body-col-initial / body-col-end;
  grid-row: body-initial / body-medium1;
}

main {
  grid-column: body-col-medium1 / body-col-medium2;
  grid-row: body-medium1 / body-medium2;
}

.menu-nav {
  grid-column: body-col-initial / body-col-medium1;
  grid-row: body-medium1 / body-medium2;
  background-color: var(--light-gray);
}

.main-footer {
  grid-column: body-col-initial / body-col-end;
  grid-row: body-medium2 / body-end;
  background-color: var(--dark-blue);
  padding-left: 100px;
}

.right-bar {
  grid-column: body-col-medium2 / body-col-end;
  grid-row: body-medium1 / body-medium2;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

/* Header */

input:focus {
  outline: none;
  border: none;
}

header.website-header {
  background-color: var(--dark-blue);
  height: 80px;
}

.hidden {
  display: none !important;
}

.image-and-side-bar-icon {
  display: flex;
  align-items: center;
  border-right: 1px solid #c6c6c6;
}

.side-bar-icon {
  margin-right: 10px;
  margin-left: 30px;
  display: none;
}

input.live-search {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  appearance: none;
  background-color: #101010;
  border: none;
  height: 47px;
  width: 350px;
  border-radius: 2px;
  padding: 0 40px 0 10px;
  color: #979494;
  font-size: 18px;
  margin: 0;
}

.search-box {
  position: relative;
}

.group-buttons a {
  border-radius: 5px;
  padding: 10px 25px;
  white-space: nowrap;
}

.sign-in-button {
  background-color: var(--blue);
  margin-right: 20px;
}

.sign-up-button {
  background-color: #777;
}

.my-account-button {
  background-color: var(--blue);
}

.search-bar-info {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.search-bar-info p {
  margin-bottom: 5px;
}

.search-bar-info p:last-of-type {
  margin-bottom: 0;
}

.main-info {
  background-color: white;

}

/* navigation bar */



#CC-image {
  height: 5rem;
  align-items: right;
}



.mid-header {
  /*grid-column: mid1-col-header/ mid2-col-header;*/
  height: 80px;
}

.main-search {
  left: 50%;
  transform: translate(-50%);
  position: relative;
  display: inline-block;
  height: 100%;
}

.right-header {
  /*grid-column: mid2-col-header / end-col-header;*/
  height: 80px;
}

div.group-buttons {

  /*grid-column: mid2-col-header / end-col-header;*/
}

.main-search-button {
  position: absolute;
  margin-top: 25px;
  right: 5px;
  padding-left: 0px;
  cursor: pointer;
}

.main-search-button img {
  width: 30px;
}

/* Nav Bar */

.main-nav-list {
  margin-top: 50px;
}

.menu-nav ul li,
.mobile-aside-bar ul li {
  margin-bottom: 14px;
}

.menu-nav ul li a,
.mobile-aside-bar ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--dark-blue);
}

.menu-nav ul li a svg,
.mobile-aside-bar ul li a svg {
  fill: var(--dark-blue);
}

.menu-nav ul li a:hover,
.mobile-aside-bar ul li a:hover {
  color: var(--blue);
  transition: 0.2s;
}

.menu-nav ul li a:hover svg,
.mobile-aside-bar ul li a:hover svg {
  fill: var(--blue);
  transition: 0.2s;
}

.menu-nav ul li img,
.menu-nav ul li svg,
.mobile-aside-bar ul li img,
.mobile-aside-bar ul li svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.sub-nav-questions li {
  margin-left: 20px;
}

.sub-nav-questions li:first-child {
  margin-top: 14px;
}

.menu-nav .sub-nav-questions li a,
.mobile-aside-bar .sub-nav-questions li a {
  color: #959595;
  font-size: 16px;
}

.active-nav-item a svg {
  fill: var(--blue) !important;
}

.active-nav-item a {
  color: var(--blue) !important;
}

/* Main Content */

#questions-listing {
  background-color: white;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
}






/*        */
/* Footer */
/*        */

/*section.notifications{ -------------------------------TODO
  grid-column: body-col-medium/body-col-end;
}*/

.footer-link {
  display: inline;
  margin-right: 20px;
}

.footer-img {
  height: 4rem;
  grid-column: 1 / 2;
}

.footer-links-left {
  margin-top: 1.5rem;
  grid-column: 2 / 3;
}

.footer-links-middle {
  grid-column: 3 / 4;
}

.footer-links-right {
  grid-column: 4 / 5;
}

.footer-title {
  color: white;
  margin-bottom: 25px;
}

.footer-link {
  margin-bottom: 10px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link a:hover {
  color: var(--blue);
  transition: 0.2s;
}

.footer-link a {
  color: #7c7c7c;
}

.footer-social-links {
  grid-column: 5 / 6;
}

ul.social-links li {
  display: inline-block;
  margin-right: 10px;
}

ul.social-links li:last-child {
  margin-right: 0;
}

ul.social-links li:hover svg {
  fill: var(--blue);
  transition: 0.2s;
  cursor: pointer;
}




/* Responsive website */

@media (max-width: 1200px) {
  .menu-nav {
    display: none;
  }

  .header-content {
    grid-template-columns: 1fr 240px;
  }

  .header-content .cc-logo-with-text {
    grid-column: 1;
  }

  .header-content .mid-header {
    display: none;
  }

  .header-content .right-header {
    grid-column: 2;
  }

  .main-content {
    grid-template-columns: 1fr 240px;
  }

  .main-info {
    grid-column: 1; 
  }

  .right-bar {
    grid-column: 2; 
  }

  .side-bar-icon,
  .mobile-aside-bar {
    display: block;
  }
}
