#create-question h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 
 #create-question form {
   display: flex;
   flex-direction: column;
   margin-left: 4rem;
   margin-right:4rem;
 }

 input#file{
      padding:0rem;
 }
 
 #create-question button {
    appearance: none;
    padding: 10px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 40%;
    margin: auto; 
 }

 #create-question label{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
 }

 #create-question input{
    width: 85%;
 }

 #create-question textarea{
    width: 82%;
    height: 80px;
    resize: none;
 }

#create-question select{
   width: 85%;
}

textarea#content.form-control{
   padding:10px;
}

 #create-question input,
 #create-question textarea,
 #create-question select {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 1rem;
 }


 