#create-question h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 
 #create-question form {
   display: flex;
   flex-direction: column;
   margin-left: 4rem;
   margin-right:4rem;
 }

 input#file{
      padding:0rem;
 }
 
 #create-question button {
    appearance: none;
    padding: 10px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 40%;
    margin: auto; 
 }

 #create-question label{
   margin-top: 0.5rem;
    margin-left: 2rem;
    font-weight: 600;
 }

.all-tags{
   appearance: none;
    padding: 5px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 5px;
    width: fit-content;
    margin-bottom: 0.3rem;
}

#create-question label {
   margin-left: 2rem;
   margin-bottom: 0.5rem;
   font-weight: 600;
}

section#property-tags{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 2rem;
   margin-right: 2rem;
}

textarea#content.form-control{
   padding:10px;
}

 #create-question input,
 #create-question textarea,
 #create-question select {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-right:4rem;
 }

 #add-question-tooltip-section{
   justify-content: center;
}