#edit-profile-title{
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}

form#edit-profile {
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top:1rem;
}

#edit-profile h1 {
    margin-bottom: 5px;
    font-size: 24px;
}

#edit-profile img.member-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}

#edit-profile label {
    margin-bottom: 8px;
    font-weight: bold;
}

#email-label {
    display: block;
}

#edit-profile input:not(#photo) {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#photo {
    display: block;
    margin-bottom: 15px;
}

#edit-profile button {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#edit-profile button:disabled {
    background-color: #777;
    opacity: 0.3;
    transition: 0.2s;
}

#edit-profile .edit-password {
    display: none;
}

#edit-profile span{
    margin-bottom: 10px;
    padding: 0px;
}