#success {
    color: green;
    text-align: center;
    border: 1px solid green;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 15px;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#errors {
    color: red;
    text-align: center;
    border: 1px solid red;
    background-color: lightpink;
    padding: 1rem;
    border-radius: 15px;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#success > h2,
#errors > h2,
#notifications > h2 {
    display: none;
}
