.sign-page-main-content-login {
  padding: 200px 0;
}

.sign-page-right-content .forgot-password {
  font-size: 12px;
  color: var(--dark-blue);
}

.sign-page-right-content .forgot-password:hover {
  text-decoration: underline;
}

::placeholder {
  color: #c7c7c7;
  font-size: smaller;
}