.sign-page-main-content-login {
  padding: 200px 0;
}

.sign-page-right-content #forgot-password {
  font-size: 12px;
  color: var(--dark-blue);
}

.sign-page-left-content h3 {
  width: 400px;
}

.sign-page-right-content #forgot-password:hover {
  text-decoration: underline;
}

::placeholder {
  color: #9e9e9e;
  font-size: smaller;
}

.username-or-email-error, .password-error, .username-error, .email-error, .password-confirmation-error{
  color: red;
  font-size: 12px;
  display: none;
}



