#main-features-page{
    background-color: #fff;
}

.feature-section h3{
    margin-top:20px;
    font-size: 20px;
}

#title-main-features {
    margin-top: 2rem;
    text-align: center;
}

.feature-section {
    margin-left: 4rem;
    margin-right: 4rem;
}

#feature-section-final{
    margin-bottom: 2rem;
}

.feature-section ul li{
    font-size: 18px;
    list-style: circle;
    margin-left: 20px;
}

#title-main-features {
    text-align: center;
}