#main-features-content{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    width: 89%;
}

.feature-section h3{
    margin-top:20px;
    font-size: 20px;
}

.feature-section ul li{
    font-size: 18px;
    list-style: circle;
    margin-left: 20px;
}

#title-main-features {
    text-align: center;
}