
#profile-info {
    background-color: white;
    margin: 0;
    margin: 50px auto;
    width: 89%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-info h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
}

#profile-info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

#profile-info img.member-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

#profile-info ul {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
    text-align: center;
}

#profile-info li {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    margin-left: 25px;
    margin-right: 25px;
}

#profile-info li:hover {
    color: var(--blue);
}

#edit-profile-a{
    display: flex;
    justify-content: left;
}

a.edit-profile {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 0px;
    
}

a:hover.edit-profile {
    background-color: var(--dark-blue);
}

#my-questions, #my-answers {
    display: none;
}

#questions-button.active, #my-questions {
    display: block;
}

#answers-button.active, #my-answers {
    display: block;
}

