#question {
  background-color: white;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
}

.summary-comments {
  background-color: white;
}

.leave.leave-comment {
  border-top: none;
}

.experts-stars {
  margin-left: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.leave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.leave > h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.leave > form > textarea,
.non-movable-textarea {
  display: flex;
  resize: none;
  border: 2px solid #c6c6c6;
  font-size: 16px;
  padding: 5px;
}

.non-movable-textarea{
  padding: 10px;
  font-size: 14px;
}

.leave > form > textarea{
  height: 4rem;
}

.leave > form > input {
  margin-bottom: 1rem;
}

.leave > form > label {
  margin-top: 0.5rem;
  margin-bottom: 3px;
  display: block;
}

.answer-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer-details p.date {
  margin-left: 1rem;
  margin-top: 1px;
}

.answer-details p.edited-date {
  color: #abacb1;
  font-size: 14px;
}

.answer-details p.rating {
  margin-left: 20px;
}

.experts-stars {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.leave > form > textarea:focus-visible,
.non-movable-textarea:focus-visible {
  border: 2px solid var(--blue);
  outline: none;
}

.edit-question-comment-content, .edit-answer-comment-content {
  width: 75%;
}

.leave > form > button {
  background-color: var(--blue);
  border: none;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  display:block;
}

section#answers form.answer {
  display: flex;
  align-items: flex-start;
  padding: 35px 50px;
  border-bottom: 0;
}

.question-edited-date {
  margin-left: 10px;
  color: #abacb1;
  font-size: 14px;
}

.question-tags .question-tag {
  margin-left: 5px;
}

.answer {
  padding: 35px 50px;
  display: flex;
  align-items: flex-start;
}

.comments-details, #content-comment{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#leave-answer-on-question {
  font-size: 18px;
}

.edit-question-comment, .edit-answer-comment{
  margin-left: 4rem;
}

.edit-question-comment-date, .edit-answer-comment-date {
  margin-left: 10px;
  margin-bottom: 0px;
}

.comments-details .edited-date,
.comment-not-edit .edited-date {
  font-size: 14px;
  color: #abacb1;
}

.comments-details {
  margin-bottom: 5px;
}

#content-comment {
  margin-bottom: 10px;
}

#content-comment .edit {
  margin-left: 10px;
}

article.comment:first-of-type {
  border-top: 1px solid #c6c6c6;
  margin-top: 1.5rem;
}

article.answer-comment:first-of-type {
  margin-top: 0;
}

article.answer-comment:last-of-type {
  margin: 0;
  padding: 0 50px;
  border-bottom: 0;
}

.comment > h3 {
  display: none;
}

.content-left .answers-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer > .content-right {
  margin-left: 20px;
}

.answer > .content-right > .description,
.comment > .description {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 4px;
  font-size: 18px;
  display: block;
}

#answers .add-tooltip {
  margin-left: 2rem;
  margin-right: 4rem;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.ignore-tooltip-h2-changes {
  font-size: 18px;
}

.comment-not-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment-not-edit-answer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c6c6c6; 
}

.comment > .description {
  margin-top: 0;
}

.label-content {
  margin-top: 10px;
}

.answer > .content-right > .username,
.comment > .username {
  color: var(--blue);
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.content-right > .answer > .date,
.comment > .date {
  font-size: 14px;
  color: #abacb1;
}

.question-of-answer {
  margin-bottom: 1rem;
  color: #000;
}

.question-of-answer:hover {
  color: var(--blue);
}

button.edit {
  margin-right: 8px;
  background-color: var(--blue);
  padding: 4px 10px;
  color: #fff;
  border-radius: 5px;
}

button.delete {
  background-color: var(--hover-red);
  padding: 4px 10px;
  color: #fff;
  border-radius: 5px;
}

.username,
.date {
  display: block;
}

.answer-info {
  display: flex;
  align-items: center;
}

.username {
  color: var(--blue);
  font-size: 19px;
}

.content-right svg {
  margin-left: auto;
}

button.mark-correct {
  background-color: green;
  padding: 4px 10px;
  margin-right: 8px;
  color: #fff;
  border-radius: 5px;
}

button.mark-incorrect {
  background-color: var(--hover-red);
  padding: 4px 10px;
  margin-right: 8px;
  color: #fff;
  border-radius: 5px;
}

.answer-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.question-tags,
.question-tag {
  display: inline;
}

.question-tags {
  margin-left: 35px;
}

.question-tag {
  background-color: rgba(103, 103, 103, 0.37);
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.tag-tooltip-content,
.questions-tag-delete-info {
  content: attr(data-tooltip);
  background-color: #fff;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  border: 1px solid #adadad;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 10;
  transition: visibility 0s linear 0.5s, opacity 0.2s linear;
  opacity: 0;
}

.tag-tooltip-content button,
.tag-tooltip-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid;
}

.tag-tooltip-content a {
  height: 20px;
  border-color: var(--blue);
}

.tag-tooltip-content a.watch-tag-button path {
  stroke: #fff;
}

.tag-tooltip-content button.follow-tag-button path {
  fill: #000;
}

.tag-tooltip-content button.unfollow-tag-button path {
  fill: #fff;
}

.tag-tooltip-content button svg,
.tag-tooltip-content a svg {
  margin-right: 4px;
}

.tag-tooltip-content a.watch-tag-button {
  background-color: var(--blue);
  margin-right: 10px;
}

.tag-tooltip-content button.follow-tag-button {
  background-color: #fff;
  color: #000;
}

.tag-tooltip-content button.unfollow-tag-button {
  background-color: var(--hover-red);
  color: #fff;
}

.tag-tooltip-content button:hover {
  transition: 0.2s;
}

.tag-tooltip-content a.watch-tag-button:hover {
  background-color: #00a1fd;
  border-color: #00a1fd;
}

.tag-tooltip-content button.follow-tag-button:hover {
  background-color: #e0e0e0;
}

.tag-tooltip-content button.unfollow-tag-button:hover {
  background-color: #d81c1c;
}

.question-tag:hover {
  background-color: rgb(119, 119, 119, 0.8);
}

.question-tag:hover .tag-tooltip-content,
.question-tag:hover .questions-tag-delete-info {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.file a {
  color: black;
}

.label-file {
  margin-bottom: 4px;
}

.moderator-badge-answer {
  margin-left: 5px !important;
}

.question-details .tooltip-icon .tooltip-text {
  visibility: hidden;
  width: 400px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;  
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 115%;
  margin-left: -430px;
  box-shadow: 0 0 10px #000001;
}

.question-details .tooltip-icon:hover .tooltip-text {
  visibility: visible;
}

.comment .description .username,
.comment .description .date {
  display: inline;
}

.comment .description .date {
  font-size: 14px;
  color: #adadad;
}

.add-question-comment-tap,
.add-answer-comment-tap {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4rem;
  padding-right: 10px;
  color: #adadad;
}

.add-question-comment-tap:hover,
.add-answer-comment-tap:hover {
  color: var(--blue);
  transition: 0.2s;
  cursor: pointer;
}

#question-comment, #answer-comment {
  width: 70%;
  margin-left: 4rem;
  border: 2px solid #c6c6c6;
  padding: 5px;
  margin-bottom: 15px;
}

#question-comment::placeholder, #answer-comment::placeholder {
  font-size: small;
}

.submit-comment {
  background-color: var(--blue);
  border: none;
  color: #fff;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#question-comment:focus {
  border: 2px solid var(--blue);
}

.answer-container {
  border-bottom: 1px solid #c6c6c6;
}

.answer-container:first-of-type {
  border-top: 1px solid #c6c6c6;
}

.add-tooltip-comment {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.answer form label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.answer textarea {
  width: 80%;
}

.answer > h2 {
  display: none;
}

.answer > .content-right > h3 {
  display: none;
}

form.comment.edit-answer-comment > footer#content-comment > label {
  display: none;
}

@media (max-width: 919px){
  .question-tag {
    background-color: rgba(103, 103, 103, 0.37);
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
}
