.questions-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c6c6c6;
  padding: 10px 30px;
}

.questions-info .filters-button {
  background-color: var(--blue);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.questions-info .filters-button:hover {
  background-color: var(--hover-red);
  transition: 0.2s;
}

.questions-info .filters-button svg {
  margin-right: 5px;
}

.showing-text {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.questions-info .questions-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions-number {
  font-size: 1.4em;
}

.questions-filters {
  height: 200px;
  background-color: var(--light-gray);
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
}

.question-username {
  color: var(--blue);
  margin-right: 15px;
}

.question-description,
.answers-details {
  line-height: 1.6;
  margin-top: 20px;
}

.question-title {
  margin-top: 20px;
}

.question-title a {
  color: var(--dark-blue);
}

.question-description {
  color: #abacb1;
}

.question-asked-date,
.question-community {
  color: #abacb1;
  font-size: 14px;
}

.question-asked-date {
  margin-right: 15px;
}

.question-container {
  display: flex;
  align-items: start;
}

.question-member-pfp {
  margin-right: 20px; /* Space between the image and the content on the right */
}

.content-right {
  flex: 1;
}

.question-container {
  margin: 35px 50px;
}

.answers-details {
  background-color: #f0f0f0;
  padding: 10px 40px;
  font-size: 14px;
}

.question-answer-btn {
  background-color: white;
  padding: 5px 10px;
  color: #abacb1;
  border: 1px solid #c6c6c6;
}

.question-answer-btn svg {
  margin-right: 5px;
}

.answers-details span {
  margin-left: 5px;
}

.question-upvotes {
  color: var(--blue);
}
